
    <div class="row-fluid">
      <div class="span12">
		<h1> hallo <%= @user %> </h1>
			
      </div><!--/span-->
    </div><!--/row-->
    <div class="row-fluid">
      <div class="span12">
		<p>please wait while we get some other players to play with you!</p>
			
      </div><!--/span-->
    </div><!--/row-->
