<div class="row-fluid">
  <div class="span6">
  	<img src="img/spanish_inquisition.jpg">
  </div>
  <div class="span6">
	<h1> Please login with Twitter</h1>
	<p><a class="btn primary" href="/twitter/connect">login with twitter</a></p>
  </div><!--/span-->
</div><!--/row-->