<div class="row-fluid">
  <div class="span12">
	<h1> Please login with Twitter</h1>
  </div><!--/span-->
</div><!--/row-->
<div class="row-fluid">
  <div class="span12">
	<a class="btn primary" href="/twitter/connect">login with twitter</a>
  </div><!--/span-->
</div><!--/row-->